/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(193, 88, 215);
    background: linear-gradient(
            0deg,
            rgba(193, 88, 215, 1) 0%,
            rgba(0, 212, 255, 1) 100%
        )
        fixed;
    height: 100vh;
}

/* Navbar */

.nav-container {
    background-color: rgb(128, 128, 128, 0.5);
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-text {
    color: white;
    text-decoration: none;
    gap: 24px;
}

#brand {
    margin-left: 32px;
    display: flex;
    align-items: center;
}

#links {
    margin-right: 32px;
}

a.nav-text {
    padding: 16px;
}

/* Search */
.container {
    max-width: 1200px;
    height: 85vh;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    padding-bottom: 128px;
}

#searchBar {
    border-radius: 50px;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    color: rgb(86, 86, 86);
}

#searchBar:focus {
    outline: none;
}

#searchBtn {
    background-color: rgb(232, 119, 255);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
}

/* Footer */

.footer {
    text-align: center;
    font-size: 1rem;
    margin-top: auto;
}

.footer span {
    color: red;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
